<h1>What are the three things you can do to get closer to your first five-year goal?</h1>

<%= form_with(url: yearlygoals_path, method: 'post') do |form| %>
  <div>
    <%= form.label :'yearly_goal_1[title]', "Yearly Goal 1 Title: " %>
    <%= form.text_field :'yearly_goal_1[title]' %>
  </div>
  <div>
    <%= form.label :'yearly_goal_1[description]', "Yearly Goal 1 Description: " %>
    <%= form.text_field :'yearly_goal_1[description]' %>
  </div>

  <div>
    <%= form.label :'yearly_goal_2[title]', "Yearly Goal 2 Title: " %>
    <%= form.text_field :'yearly_goal_2[title]' %>
  </div>
  <div>
    <%= form.label :'yearly_goal_2[description]', "Yearly Goal 2 Description: " %>
    <%= form.text_field :'yearly_goal_2[description]' %>
  </div>

  <div>
    <%= form.label :'yearly_goal_3[title]', "Yearly Goal 3 Title: " %>
    <%= form.text_field :'yearly_goal_3[title]' %>
  </div>
  <div>
    <%= form.label :'yearly_goal_3[description]', "Yearly Goal 3 Description: " %>
    <%= form.text_field :'yearly_goal_3[description]' %>
  </div>

  <div>
    <h3>Which action is the most important one to get closer to your yearly goal?</h3>
    <%= form.radio_button :most_important, 'yearly_goal_1', id: 'most_important1' %>
    <%= form.label :most_important1, "Yearly Goal 1" %>

    <%= form.radio_button :most_important, 'yearly_goal_2', id: 'most_important2' %>
    <%= form.label :most_important2, "Yearly Goal 2" %>

    <%= form.radio_button :most_important, 'yearly_goal_3', id: 'most_important3' %>
    <%= form.label :most_important3, "Yearly Goal 3" %>
  </div>

  <p><%= form.submit 'Save & Continue' %></p>
<% end %>
