<body class="background-image-signup">
<div class="dashboard-content-sign">
  <div class="card-signup">
    <h2 class="card-header">Register today and find your personal North Star!</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
      data: {turbo: false}) do |f| %>
      <%= f.error_notification %>
      <div class="card-body">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first name", class: "input-field" }%>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last name", class: "input-field" }%>
        <%= f.input :user_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "user name", class: "input-field" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "input-field" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "input-field" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "input-field" } %>
        <div data-controller="photo-preview">
          <%= f.input :photo, input_html: { class: 'd-none', id: 'photo-input', data: { photo_preview_target: "input", action: "change->photo-preview#displayPreview" }}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
          <%= image_tag "", width: 300, class: "hidden", id: "photo-preview", data: { photo_preview_target: "image" } %>
        </div>
      </div>
      <div class="card-footer">
        <%= f.button :submit, "Sign up", class: "btn signup"%>
      </div>
    <% end %>
  </div>
  </div>
</body>
