  <div class= "side-navbar">
    <div class="logo-dashboard">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= cl_image_tag("logo.png") %>
      <% end %>
    </div>
    <%= cl_image_tag("testimonial3.png", width: 381, height: 384, class: 'image-circle') %>
    <div class="nav-text">
      <%= link_to "Continue your setup", "#", class: "wizard-link" %>
      <h2 class="nav-text">Your goals</h2>
      <%= link_to "5 Year goals", "/fiveyeargoals/details", class: "link-section"%>
      <%= link_to "Yearly goals", "/yearlygoals/details", class: "link-section"%>
      <%= link_to "Quarterly goals", "/quarterlygoals/details",class: "link-section"%>
      <%= link_to "Weekly tasks", "/weeklytasks/details", class: "link-section"%>
      <h2 class="nav-text">More</h2>
      <%= link_to "Browse community", "/community", class: "link-section"%>
      <%= link_to "Inspiration", "/inspiration", class: "link-section"%>
      <%= link_to "Settings", "/settings", class: "btn btn-white "%>
    </div>
  </div>
