<h1>New Quarterly Goals</h1>

<%= form_with(url: yearlygoal_quarterlygoals_path(@yearlygoal), method: 'post') do |form| %>
  <% 3.times do |i| %>
    <h2>Quarterly Goal <%= i + 1 %></h2>

    <div class="field">
      <%= form.label "Title" %>
      <%= form.text_field "quarterlygoals[#{i}][title]" %>
    </div>

    <div class="field">
      <%= form.label "Description" %>
      <%= form.text_area "quarterlygoals[#{i}][description]" %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
