<div style="text-align: right; margin-right: 200px;">
  <h1 style="color: #64A4F4; font-weight: 700;">Inspiration</h1>
  <h2 style="color: #143434; font-weight: 600;">Stories from fellow Goalgetters</h2>
</div>

<div class="banner"></div>

<div class="card_container">
  <div class="card_inspiration">
    <div class="image-container">
      <%= cl_image_tag("testimonial1.png", width: 381, height: 384, crop: :fill) %>
      <div class="image-overlay"></div>
    </div>
    <div class="quote-container">
      <h3>"I always wanted to start being more thoughtful about my physical exercises, that's when I found Goalgetter. I now manage to be active regulary with an actual final goal - run a marathon in 5 years."</h3>
      <h4>Laura, 27</h4>
    </div>
  </div>

  <div class="card_inspiration">
    <div class="image-container">
      <%= cl_image_tag("testimonial2.png", width: 381, height: 384, crop: :fill) %>
      <div class="image-overlay"></div>
    </div>
    <div class="quote-container">
      <h3>"So many oppurtunities - so overwhelming! Finishing school opened the world for me, but making decisions what to actually do was diffucult. I was so happy to have Goalgetter as helping tool to organize my thoughts and put them into an action plan."</h3>
      <h4>Fridolin, 20 </h4>
    </div>
  </div>

  <div class="card_inspiration">
    <div class="image-container">
      <%= cl_image_tag("testimonial3.png", width: 381, height: 384, crop: :fill) %>
      <div class="image-overlay"></div>
    </div>
    <div class="quote-container">
      <h3>"I really love tall plants and always wanted a lot of them in my flat. But all my plants never made it. Maybe this time i will get to my one year goal - which would be survival until then and doing repotting. Goalgetter always reminds me to take care of them."</h3>
      <h4>Ashley, 32</h4>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <% if current_user == nil %>
    <%= link_to 'Start your journey', '/users/sign_up', class: 'btn btn-blue' %>
  <% else %>
    <%= link_to 'Start your journey', '/fiveyeargoals/new', class: 'btn btn-blue' %>
  <% end %>
</div>
